PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=SMi8RE17frNLtSSTg8kXcZAMBgCnctmX
DRIVE_DISK=local
GITHUB_APP_ID=your_github_app_id
GITHUB_INSTALLATION_ID=your_installation_id
GITHUB_PRIVATE_KEY_PATH=path_to_your_private_key

